<!-- this is where the user starts -->

{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="slider-container">

    <!-- NB 1st left div coincides with last right div -->
    <!-- If another left slide is added, it needs to inversely match the right side -->
    <div class="left-slide">
        <div class="left-1">
            <div> {% if request.user.is_authenticated %}
                <p>
                    Welcome back {{ user.username }}.
                </p>
                <p>What burger would you like today?</p>
                {% else %}
                Get Your first burger for free!


                <button class="btn btn-black rounded-0 text-uppercase mt-0 mb-0"><a href="{% url 'account_signup' %}">Sign up here.</a></button>
                <button class="btn btn-black rounded-0 text-uppercase mt-0 mb-0"><a href="{% url 'account_login' %}">Log
                        in here.</a></button>
                {% endif %}
            </div>

            <br>
            <br>
            <br>
            <br>
            <div>
                <h1>The Frenchie<i class="fas fa-arrow-right"></i></a>
                </h1>

                <p>Liberté, egalite, fraternité, hamburger!</p>
                <button><a href="{% url 'store'  %}">Go to the menu</a></button>
            </div>

        </div>
        <div class="left-2">
            {% if request.user.is_authenticated %}
            <p>
                Welcome back {{ user.username }}.
            </p>
            <p>What burger would you like today?</p>
            {% else %}
            Get Your first burger for free!


            <button class="btn btn-black rounded-0 text-uppercase mt-0 mb-0"><a href="{% url 'account_signup' %}">Sign
                    up here.</a></button>
            <button class="btn btn-black rounded-0 text-uppercase mt-0 mb-0"><a href="{% url 'account_login' %}">Log in
                    here.</a></button>
            {% endif %}
            <br>
            <br>
            <br>
            <br>

            <h1>The Nadz<i class="fas fa-arrow-right"></i></a>
            </h1>
            <p>Our <strong>towering</strong> achievement</p>
            <button><a href="{% url 'store'  %}">Go to the menu</a></button>
            <h1></h1>
            <br>
            <br>
            <br>
            <br>

        </div>
        <div class="left-3">
            {% if request.user.is_authenticated %}
            <p>
                Welcome back {{ user.username }}.
            </p>
            <p>What burger would you like today?</p>
            {% else %}
            Get Your first burger for free!


            <button class="btn btn-black rounded-0 text-uppercase mt-0 mb-0"><a href="{% url 'account_signup' %}">Sign
                    up here.</a></button>
            <button class="btn btn-black rounded-0 text-uppercase mt-0 mb-0"><a href="{% url 'account_login' %}">Log in
                    here.</a></button>
            {% endif %}
            <br>
            <br>
            <br>
            <br>

            <h1>The New Yorker<i class="fas fa-arrow-right"></i></a>
            </h1>

            <p>City sophistication</p>
            <button><a href="{% url 'store'  %}">Go to the menu</a></button>


        </div>
        <div class="left-4">
            {% if request.user.is_authenticated %}
            <p>
                Welcome back {{ user.username }}.
            </p>
            <p>What burger would you like today?</p>
            {% else %}
            Get Your first burger for free!


            <button class="btn btn-black rounded-0 text-uppercase mt-0 mb-0"><a href="{% url 'account_signup' %}">Sign
                    up here.</a></button>
            <button class="btn btn-black rounded-0 text-uppercase mt-0 mb-0"><a href="{% url 'account_login' %}">Log in
                    here.</a></button>
            {% endif %}
            <br>
            <br>
            <br>
            <br>

            <h1>Alloco<i class="fas fa-arrow-right"></i></a>
            </h1>
            <p>Inspired by the Ivory Coast</p>
            <button><a href="{% url 'store'  %}">Go to the menu</a></button>
        </div>
        <div class="left-5">
            {% if request.user.is_authenticated %}
            <p>
                Welcome back {{ user.username }}.
            </p>
            <p>What burger would you like today?</p>
            {% else %}
            Get Your first burger for free!


            <button class="btn btn-black rounded-0 text-uppercase mt-0 mb-0"><a href="{% url 'account_signup' %}">Sign
                    up here.</a></button>
            <button class="btn btn-black rounded-0 text-uppercase mt-0 mb-0"><a href="{% url 'account_login' %}">Log in
                    here.</a></button>
            {% endif %}
            <br>
            <br>
            <br>
            <br>

            <h1>The Éireann<i class="fas fa-arrow-right"></i></a>
            </h1>

            <p>Oileán Iathghlas Éireann!</p>
            <button><a href="{% url 'store'  %}">Go to the menu</a></button>
        </div>
    </div>
    <div class="right-slide">

        <div class="right-1"></div>
        <div class="right-2"></div>
        <div class="right-3"></div>
        <div class="right-4"></div>
        <div class="right-5"></div>

    </div>
    <div class="action-buttons">
        <button class="down-button">
            <i class="fas fa-arrow-down"></i>
        </button>
        <button class="up-button">
            <i class="fas fa-arrow-up"></i>
        </button>
    </div>
</div>
{% block postloadjs %}
{{ block.super }}
<script src=" {% static 'script/homepage.js' %}"></script>

{% endblock %}


{% endblock %}