{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        {% if reviews %}
        {% for review in reviews %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card h-100" style="width: 18rem;">
                <img src="{{review.product.imageURL}}" class="card-img-top thumbnail" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Review of {{review.product}} </h5>
                    <p>by <strong>{{review.author}}</strong></p>

                    <h6 class="card-title">Summary: {{review.title}}</h6>



                    <p class="card-text">{{review.body}}</p>
                    <p>{{review.rating}}/5 stars</p>
                    {% if review.author == request.user or request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'review_edit' review.pk %}">Edit</a> |
                        <a class="text-danger" href="{% url 'review_delete' review.pk %}">Delete</a>
                    </small>
                    {% endif %}
                    <a href="{% url 'store' %}" class="btn btn-primary">Back to the store</a>
                </div>
            </div>
        </div>

        {% endfor %}

        {% else %}

        <div class="text-center mt-5">
            <p>
                <strong>No reviews yet!</strong>
                Why not leave the first?
            </p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}