/* ====================================================={general stuff}===================================================== */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    margin: 0;
}

body,
html {
    height: 100%;
}

.container {
    padding-bottom: 3rem;
}



/* ====================================================={navbar}===================================================== */

/* sets header and footer background colour */
.navbar {
    background-color: black;
}

.bottom-navbar .nav-item {
    padding-left: 85px;
    padding-right: 85px;
    margin-top: 10px;
}

/* sets header and footer navlink colour, i.e .the text */
.nav-link {
    color: #fff;
}

/* this is on the navbar */
#cart-icon {
    width: 2rem;
    display: inline-block;
    margin-left: 15px;
    position: absolute;
    right: 7.5rem;
    bottom: .75rem;
}

/*pushes the logo from the left*/
.navbar-brand {
    margin-left: 150px;
}

/* creates space between navbar items */
.nav-item {
    margin-right: 1rem;
}

/* use this for user profile stuff */
#navbarDropdownMenuLink-two {
    background-color: yellow;
    border-radius: 25px;
    position: relative;
    color: black;
}

/* this is on the navbar */
#cart-total {
    display: block;
    text-align: center;
    color: #fff;
    background-color: red;
    width: 4rem;
    height: 2.5rem;
    border-radius: 25%;
    font-size: 16px;
    position: absolute;
    right: 50px;
    bottom: -.5rem;
    padding-top: 0.5rem;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
}

.pulsate-heart {
    height: 1.8rem;
    width: 1.8rem;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: heart 5s infinite;
}

@keyframes heart {
    0% {
        transform: scale(0.65);
        box-shadow: 0 0 0 0 rgba(110, 4, 4, 0);
    }

    20% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(110, 4, 4, 0);
    }

    40% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(110, 4, 4, 0);
    }

    80% {
        transform: scale(0.75);
        box-shadow: 0 0 0 10px rgba(110, 4, 4, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* ===================================================== {bootstrap toasts} =====================================================*/
/* this is from CI video Toast- Part 2, edit it for own purposes */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.close-toast {
    position: fixed;
    right: 25px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ====================================================={homepage }===================================================== */

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slide {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.left-slide a {
    text-decoration: none;
    color: #ffffff;
}

.left-slide>div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(236, 231, 231);
}

.left-1 {
    background-color: #a51930;
}

.left-2 {
    background-color: #174e6d;
}

.left-3 {
    background-color: #121414;
}

.left-4 {
    background-color: #8a561c;
}

.left-5 {
    background-color: #254917;
}

.left-slide h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
}

.left-inner-1 {
    margin-bottom: 20px;
    font-size: 20px;
}

.left-inner-2 {
    margin-top: 20px;
}

.right-slide {
    height: 100%;
    position: relative;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
}

.right-slide>div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.right-1 {
    background-image: url(/static/media/burger-ireland.jpg);
}

.right-2 {
    background-image: url(/static/media/burger-plantain.jpg);
}

.right-3 {
    background-image: url(/static/media/burger_-_new_yorker.jpg);
}

.right-4 {
    background-image: url(/static/media/towerburger.jpg);
}

.right-5 {
    background-image: url(/static/media/burger-french.jpg);
}

button {
    background-color: rgba(255, 255, 255, 0.233);
    border: black;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}

.button-store {
    border-radius: 40%;
    background-color: rgba(255, 255, 255, 0.233);
    border: black;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}

button:hover {
    color: #222;
}

button:focus {
    outline: none;
}

.slider-container .action-buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}

.slider-container .action-buttons .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.up-button,
.down-button {
    border-style: double;
    color: white;
}

/* ====================================================={store/menu page}===================================================== */

/* thumbnail affects the images in the store and the cart etc, intended to create uniformity, regardless of image variation. */

.thumbnail {
    width: 100%;
    min-width: 200px;
    height: 200px;
    box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

.success-thumbnail {
    width: 50px;
    height: 50px;
    box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    padding-left: 10px;
}

.card {
    margin-bottom: 10px;
}

.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
    margin-top: 10px;
}

.btn {
    border-radius: 0;
    width: 100%;
}

.btn-store-description {
    background-color: transparent;
    color: black;
}

.btn-store-description:hover {
    background-color: transparent;
    color: black;
    border-radius: 30%;
    transition: 0.3s;
}

/* ====================================================={checkout page}===================================================== */

/* the below is the CI checkout styling */
.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

/* below to draw attention to the most relevant headings */

.pulsate {
    background: white;
    border-radius: 20%;
    margin: 10px;
    height: 20px;
    width: 8rem;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 5s;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(211, 149, 14, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(196, 42, 42, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* ====================================================={Allauth form formatting}===================================================== */


.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
    font-size: 18px;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: rgb(121, 53, 53);
}

.allauth-form-inner-content a {
    color: #24707c;
    /* text-info */
}

/* ====================================================={media queries}===================================================== */

@media (max-width: 1200px) {
    .slider-container .action-buttons button {
        top: 45%;
    }

    .navbar-brand {
        margin-left: 0;
    }
}

@media (max-width: 900px) {
    .slider-container .action-buttons button {
        top: 45%;
    }
}

@media (max-width: 800px) {
    .left-slide {
        width: 50%;
    }

    .right-slide {
        width: 50%;
        left: 50%;
    }

    .left-slide p {
        font-size: 18px;
    }

    .slider-container .action-buttons button {
        left: 50%;
    }

    .button-store {
        font-size: 12px;
        padding: 10px;
    }

    .wishlist-product-description{
        display: none;
    }

}

@media (max-width: 550px) {
    .slider-container .action-buttons button {
        left: 50%;
        top: 45%;
    }

    .left-slide p {
        padding-left: 10px;
    }

    .burger-copyright {
        padding-left: 10px;
    }

    .thumbnail {
        width: 50%;
        min-width: 100px;
        height: 100px;
        box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    }
}

@media (max-width: 450px) {
    .slider-container .action-buttons button {
        left: 50%;
        top: 50%;
    }

    .left-slide h1 {
        font-size: 24px;
    }

    .left-slide p {
        font-size: 24px;
        padding-left: 10px;
    }

    button {
        font-size: 12px;
        padding: 15px;
    }

    .nav-item {
        margin-right: 0;
    }

    .left-inner-1,
    .left-inner-2 {
        padding-left: 20px;
    }

}

@media (max-width: 400px) {

    .left-slide p {
        font-size: 18px;
        padding-left: 10px;
    }

    .slider-container .action-buttons button {
        left: 50%;
        top: 48%;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }

    #cart-total {
        right: 10px;
    }

    #cart-icon {
        right: 5rem;
    }

    .left-inner-1,
    .left-inner-2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .left-inner-2 {
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .left-slide h1 {
        font-size: 20px;
    }
}

@media (max-width: 350px) {
    .slider-container .action-buttons button {
        left: 50%;
        top: 25%;
    }

    .left-slide p {
        font-size: 20px;
        padding-left: 10px;

    }

    button {
        font-size: 12px;
        padding: 15px;
    }

    .burger-copyright {
        display: none;
    }
}

@media (max-width: 300px) {
    .slider-container .action-buttons button {
        left: 50%;
        top: 50%;
    }


    .left-slide p {
        font-size: 16px;
        padding-left: 10px;

    }

    button {
        font-size: 12px;
        padding: 10px;
    }

    .left-inner-1,
    .left-inner-2 {
        padding-left: 10px;
    }
}