<!-- this is based on CI video Toasts - part 1. -->

<!-- More information on bootstrap toasts: https://getbootstrap.com/docs/4.3/components/toasts/ -->

<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false">
    <div class="arrow-up arrow-warning"></div>
    <div class="w-100 toast-capper bg-warning"></div>
    <div class="toast-header bg-white text-dark">
        <strong class="mr-auto">Warning!</strong>
        <button type="button" class="btn-close close-toast" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-white">
        {{ message }}        
    </div>
</div>